@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #0F1218;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}